*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content { 
  display: flex;
  align-items: flex-end;
  min-width: 1140px;
  margin: auto;
}

/* result */

.result__video-container {
  position: relative;
  max-width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  cursor: pointer;
  appearance: none;
  width: fit-content;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__label-text {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  padding-left: 5px;
}

.search-form__textfield {
  background: transparent;
  border: 1px solid #FFF;
  border-left: transparent;
  border-right: transparent;
  color: #ffffffb3;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  min-width: 225px;
  outline: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  position: relative;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::before {
  content: "";
  position: absolute;
  display: none;
  background-color: #FFF;
  inset: 0;
  inline-size: 15px;
  block-size: 15px;
  margin: auto;
}

.search-form__checkbox[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  display: block;
}

.content__card-link {
  color: #FFF;
  text-decoration: none;
}

.content__list-item:last-child {
  padding-bottom: 0;
}

/* content details */

.content__details {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}

.title {
  margin-bottom: 26px;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;

}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  max-height: 298px;
  overflow: auto;
  /* Скрываем scrollbar для IE, Edge и Firefox */
  -ms-overflow-style: none;  /* IE и Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item {
  max-width: 394px;
  max-height: 103px;
}

.content__list-item:focus {
  outline: none;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  padding-top: 7px;
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: Fira Sans Condensed;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  max-width: 194px;
  max-height: 103px;
}

.button {
  height: 34px;
  cursor: pointer;
  background: none;
  font-size: 18px;
  color: #fff;
  border: 1px solid #fff;
  place-self: end;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  width: 399px;
}